name: CI
on: [push]

defaults:
  run:
    shell: bash

jobs:
  Documentation:
    runs-on:
       group: OpenTAP-SpokeVPC
       labels:  [Linux, X64]
    container: ghcr.io/opentap/documentationgeneration:1.0.2-beta.47
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Package
        run: |
          tap generate-chm "Documentation/Help/Readme.md" --out "ResultsAndTiming/DemonstrationHelp.chm" --title "TAP Demonstration Plugin Package Help" --startpage "Documentation/Help/Welcome/Readme.md"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          retention-days: 7
          path: "ResultsAndTiming/*.chm"
  Build:
    runs-on: windows-latest
    env:
      KS8500_USER_TOKEN: ${{ secrets.KS8500_USER_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Fix tags
        if: startsWith(github.ref, 'refs/tags/v')
        run: git fetch -f origin ${{ github.ref }}:${{ github.ref }} # Fixes an issue with actions/checkout@v4. See https://github.com/actions/checkout/issues/290
        
      - name: Build
        run: dotnet build -c Release
          
      - name: Create Package
        run: |
          cd bin/Release
          ./tap package create ../../package.xml -v
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tap_package
          retention-days: 7
          path: "bin/Release/*.TapPackage"

  Package-Test:
    runs-on:
      group: OpenTAP-SpokeVPC
      labels:  [Linux, X64]
    container: ghcr.io/opentap/oci-images/build-dotnet:latest
    needs:
      - Build
    steps:
      - name: Setup OpenTAP
        uses: opentap/setup-opentap@main

      - name: Download TapPackage Artifact
        uses: actions/download-artifact@v4
        with:
          name: tap_package
          path: .

      - name: Package
        run: |
          cp Demonstration.*.TapPackage DemonstrationTest.TapPackage
          tap package install DemonstrationTest.TapPackage --force    
          tap package test Demonstration -v

  TestPlan-Test:
    runs-on:
      group: OpenTAP-SpokeVPC
      labels:  [Linux, X64]
    container: ghcr.io/opentap/oci-images/build-dotnet:latest
    needs:
      - Build
    steps:
      - name: Setup OpenTAP
        uses: opentap/setup-opentap@main

      - name: Download TapPackage Artifact
        uses: actions/download-artifact@v4
        with:
          name: tap_package
          path: .

      - name: Package
        run: |
          cp Demonstration.*.TapPackage DemonstrationTest.TapPackage    
          tap package install DemonstrationTest.TapPackage --force
          cd /opt/tap
          tap run Packages/Demonstration/DataGenForResultsViewer.TapPlan
          tap run Packages/Demonstration/DataGenForTimingAnalysis.TapPlan --settings "../../Packages/Demonstration/Tests/Test Bench Profile"
          tap run Packages/Demonstration/DataGenForTimingAnalysisParallel.TapPlan --settings "../../Packages/Demonstration/Tests/Test Bench Profile"

  Publish:
      # Only publish on the main branch or if the commit is tagged.
      if: github.ref == 'refs/heads/main' || contains(github.ref, 'refs/heads/release') || contains(github.ref, 'refs/tags/v')
      runs-on:
        group: OpenTAP-SpokeVPC
        labels:  [Linux, X64]
      container: ghcr.io/opentap/oci-images/build-dotnet:latest
      # This step depends on the build step
      needs:
        - Build
        - Package-Test
        - TestPlan-Test
      steps:
        - name: Download TapPackage Artifact
          uses: actions/download-artifact@v4
          with:
            name: tap_package
            path: .

        - name: Setup OpenTAP
          uses: opentap/setup-opentap@main
          with:
           version: 9.25.1
           packages: 'Repository Client:1.0'

        - name: Publish Packages
          working-directory: ./
          run: tap repo upload --repository https://packages.opentap.io --token ${{ secrets.PUBLIC_REPO_TOKEN }} Demonstration.*.TapPackage
